<main>
  <div class="container">
    <div class="flex-column pt-2">
      <div class="welcome-statement mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
        <h1 class="text-center">棋譜MEMO</h1>
        <p>自身の対局を保存・検討し、自分なりの定石をまとめることができるサイトです。</p>
        <p>棋譜の保存にはKIF形式を用います。下記のリストから、各対局サイトでのKIF形式の入手方法を確認できます。</p>
      </div>
      <div class="btn-wrapper col-3 mx-auto mt-2">
        <div class="row">
          <a class="btn btn-info btn-sm btn-block mb-3 sign_in" href="/users/sign_in">ログイン</a>
        </div>
        <div class="row">
          <a class="btn btn-success btn-sm btn-block sign_up" href="/users/sign_up">新規登録</a>
        </div>
      </div>
    </div>
  </div>
</main>