@use '~bootstrap/scss/bootstrap';
@use '~@fortawesome/fontawesome-free/scss/fontawesome';

#shogi-container {
  display: flex;
}

.komadai {
  background-color: #af5d14;
  height: 400px;
  width: 110px;
  margin: 0 5px;
  display: flex;
  flex-direction: column; 
  align-items: center;       
  gap: 5px;
  overflow-y: auto;
  border: 2px solid black;
}

#bottom-row{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.board {
  display: grid;
  grid-template-columns: repeat(9, 70px);
  position: relative;
}

.cell.highlight {
  background-color: rgb(224, 165, 78) !important;
}

.hidden {
  display: none !important;
}

#kifu-form {
  display: none;
  
  position: fixed;
  top: 27%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  width: 70%;
  max-width: 600px;
  
  background-color: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  border-radius: 8px;
  padding: 1rem;
  
  z-index: 1000;
}

#kifu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
}
.hidden {
  display: none !important;
}

.kifu-list{
  border: 3px solid #555;
  border-radius: 5px;
}

.kfiu-category-count th {
  border-top: none;
}

.kfiu-category-count tbody{
  border-bottom: 2px solid #dee2e6;
}

.title-board{
  width: fit-content;
}