<h1>棋譜表示ページ</h1>

<div id="shogi-container">
  <div id="top-row">
    <div id="gote-hand" class="komadai"></div>  <!-- 後手の駒台 -->
  </div>

  <div id="middle-row">
    <div id="boad-wapper" style="background-color: #cc841d; padding: 15px; display: inline-block;">
      <div id="shogi-board"></div>
    </div>
  </div>

  <div id="bottom-row">
    <div id="sente-hand" class="komadai"></div>
  </div>
</div>






