<main>
  <div class="title-board">
    <div id="kifu-title" style="text-align: center; margin-bottom: 15px; font-size: 1.5rem; font-weight: bold;">
      <%= @kifu.title %>
    </div>

    <div id="shogi-container">
      <div id="top-row">
        <div id="gote-hand" class="komadai"></div>
      </div>

      <div id="middle-row">
        <div id="boad-wapper" style="background-color: #cc841d; padding: 15px; display: inline-block;">
          <div id="shogi-board"></div>
        </div>
      </div>

      <div id="bottom-row">
        <div id="sente-hand" class="komadai"></div>
      </div>
    </div>
  </div>

  <script id="jkf-data" type="application/json">
    <%= @jkf.to_json.html_safe %>
  </script>
</main>