<main>
  <div class="title-board mt-3 ml-2">
    <div id="kifu-title" style="text-align: center; margin-bottom: 15px; font-size: 1.5rem; font-weight: bold;">
      <%= @kifu.title %>
    </div>

    <div id="shogi-container">
      <div id="top-row">
        <div id="gote-hand" class="komadai p-2"></div>
      </div>

      <div id="middle-row">
        <div id="boad-wapper" style="background-color: #cc841d; padding: 15px; display: inline-block;">
          <div id="shogi-board"></div>
        </div>
      </div>

      <div id="bottom-row">
        <div id="sente-hand" class="komadai p-2"></div>
      </div>
    </div>

    <div id="bn-controls" class="flex text-center gap-4 mt-3">
      <button id="btn-back" class="px-4 py-2 mr-5 rounded shadow">◀︎</button>
      <button id="btn-next" class="px-4 py-2 rounded shadow">▶︎</button>
    </div>
  </div>

  <div id="promotion-choice" class="promotion-ui">
    <button id="promote-yes-btn" class="promote-btn">成る</button>
    <button id="promote-no-btn" class="promote-btn">成らない</button>
  </div>

  <script id="jkf-data" type="application/json">
    <%= @jkf.to_json.html_safe %>
  </script>
</main>